/.debhelper
/autoreconf.after
/autoreconf.before
/tmp/
/fonts-wine
/bug-control
/control
/debhelper-build-stamp

*.lintian-overrides

/libwine-dev/
/libwine/
/wine64
/wine64-preloader
/wine64-tools
/wine-binfmt
/wine-common/
/wine/

/libwine10.19-dev
/libwine10.19-dev.*
/libwine10.19

/wine10.19.*
/wine10.19

/wine3210.19-preloader.*
/wine6410.19-preloader.*
/wine6410.19-tools.*
/wine6410.19-tools

/wine3210.19-tools.*
/wine3210.19.*
/wine6410.19.*

/wine64*-preloader/
/wine6410.19/

/libwine10.19.*
/libwine10.19-dev.*

/libwine-10.19.*
/libwine-10.19-dev.*

*.debhelper.log
