/.debhelper
/autoreconf.after
/autoreconf.before
/tmp/
/fonts-wine
/bug-control
/control
/debhelper-build-stamp
/files

*.debhelper.log
*.lintian-overrides

/wine64*-preloader/
/wine6410.19/

/libwine-10.19/
/libwine-10.19.*
/libwine-10.19-dev/
/libwine10.19-dev/
/libwine-10.19-dev.*
/libwine10.19/

/wine-10.19/
/wine-10.19.*
/wine32-10.19.*
/wine32-10.19-preloader.*
/wine32-10.19-tools.*
/wine64-10.19.*
/wine64-10.19-preloader.*
/wine64-10.19-tools.*

/fonts-wine.substvars
/wine-binfmt.substvars
/wine-binfmt/
/wine-common.substvars
/wine-common/
/wine10.19/
/wine64-10.19-tools/
/wine64-10.19/
/wine6410.19-tools/
