/.debhelper
/autoreconf.after
/autoreconf.before
/tmp/
/fonts-wine
/bug-control
/control
/debhelper-build-stamp

*.lintian-overrides

# /libwine-dev/
# /libwine/
# /wine64
# /wine64-tools
# /wine-binfmt
# /wine-common/
# /wine/

# /libwine10.19-dev
# /libwine10.19-dev.*
# /libwine10.19

/wine64*-preloader/
/wine6410.19/

# /libwine10.19.*
# /libwine10.19-dev.*

/libwine-10.19.*
/libwine-10.19-dev.*

/wine-10.19.*
/wine32-10.19.*
/wine32-10.19-preloader.*
/wine32-10.19-tools.*
/wine64-10.19.*
/wine64-10.19-preloader.*
/wine64-10.19-tools.*

*.debhelper.log
