#!/usr/bin/make -f

VERSION := -10.19
SUBDIR := wine$(VERSION)

export DEB_BUILD_OPTIONS=parallel=$(shell nproc)

# add DEB_* variables to the environment
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/vendor.mk

DEBSUFFIX=$(VERSION)
export DEBSUFFIX

# installation paths
MANDIR=usr/share/man
BINDIR=usr/lib/wine$(VERSION)
DATDIR=usr/share/wine$(VERSION)
INCDIR=usr/include/wine$(VERSION)
LIBDIR=usr/lib/$(DEB_HOST_MULTIARCH)/wine$(VERSION)

# enable verbose build log
export DH_VERBOSE=1

# specify buildflags (stack protector, fortify, and LTO are not yet supported upstream)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-fortify,-stackprotector optimize=-lto

# configure options
CONFLAGS=--with-gnutls \
         --without-oss \
         --without-sane \
         --without-netapi \
         --disable-tests \
         --enable-win64 \
         --bindir=/$(BINDIR) \
         --libdir=/$(LIBDIR) \
         --includedir=/$(INCDIR) \
         --datarootdir=/$(DATDIR) \
         LDFLAGS="" \
         CFLAGS="$(shell dpkg-buildflags --get CFLAGS)" \

# enable wine64 on 64-bit architectures
ifeq ($(DEB_HOST_ARCH_BITS), 64)
CONFLAGS+=--enable-win64
# set "-Wno-format" (many format strings are not yet updated for 64-bit)
export DEB_CFLAGS_MAINT_APPEND+=-Wno-format
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-fortify,-stackprotector,-format optimize=-lto
endif

# build with mingw on intel architectures
ifneq (,$(filter $(DEB_HOST_ARCH),i386 amd64))
CONFLAGS+=--with-mingw ZLIB_PE_LIBS=z
endif

# ignore -fstack-clash-protection on arm64
ifeq ($(DEB_HOST_ARCH), arm64)
export DEB_CFLAGS_MAINT_APPEND+=-Wno-unused-command-line-argument -Wno-error
endif

# ignore arm-specific unused functions
ifneq (,$(filter $(DEB_HOST_ARCH),armhf arm64))
export DEB_CFLAGS_MAINT_APPEND+=-Wno-unused-function
endif

# extra information to add to the version string
export VENDOR=$(DEB_VENDOR) $(DEB_VERSION)

# parse wine's cpu string from DEB_HOST_MULTIARCH
export WINE_CPU=$(shell echo $(DEB_HOST_MULTIARCH) | cut -d- -f1)

# use date of the latest changelog update as the build date
export WIDL_TIME_OVERRIDE=$(SOURCE_DATE_EPOCH)

# additional files to generate
INSTALLS=$(shell ls debian/*VERSION* | sed s/VERSION/$(VERSION)/) \
         debian/bug-control \

debian/control: debian/control.in debian/control.stable.in
	sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g" < $< > $@
	echo >> $@
	cat debian/control.stable.in >> $@

debian/wine$(VERSION)%: debian/wineVERSION%
	sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g" < $< > $@

debian/wine32$(VERSION)%: debian/wine32VERSION%
	sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g" < $< > $@

debian/wine64$(VERSION)%: debian/wine64VERSION%
	sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g" < $< > $@

debian/libwine$(VERSION)%: debian/libwineVERSION%
	sed "s/VERSION/$(VERSION)/g;s/DEB_HOST_MULTIARCH/$(DEB_HOST_MULTIARCH)/g;s/WINE_CPU/$(WINE_CPU)/g" < $< > $@

debian/bug-control: debian/bug-control.in
	sed s/VERSION/$(VERSION)/g < $< > $@

%:
	dh $@

override_dh_auto_configure:
	# cc version
	$(CC) --version
	# mingw version
	$(DEB_HOST_GNU_CPU)-w64-mingw32-gcc --version || echo ""
	# autotools files
	ln -sf /usr/share/misc/config.sub tools
	ln -sf /usr/share/misc/config.guess tools
	# image files used to generate icons for parts of wine
	# execute wine's configure script
	autoreconf -fi
	./configure $(CONFLAGS)

override_dh_auto_build-indep:
	# only build fonts for the architecture-independent packages
	make -C tools/sfnt2fon
	make -C fonts

override_dh_auto_build-arch:
	# build wine's headers upfront to avoid incompatible mingw versions
	make -C include
	dh_auto_build

override_dh_auto_test:
	# disabled, there are currently too many failing tests

#override_dh_install:
#	dh_install
#	mkdir -p debian/libwine$(VERSION)/usr/lib
#	cp -a debian/tmp/usr/lib/* debian/libwine$(VERSION)/usr/lib/

override_dh_install-indep:
	dh_install
	# create font symlinks
	./debian/scripts/font-symlinks

override_dh_auto_install-indep: $(INSTALLS)
	mkdir -p debian/tmp
	cp ANNOUNCE.md debian/tmp/NEWS
	cp programs/winedbg/README debian/tmp/README.winedbg
	sed "s|DEBSUFFIX|$(VERSION)|g" debian/scripts/wineapploader.in > debian/tmp/$(BINDIR)wineapploader
	chmod 755 debian/tmp/$(BINDIR)wineapploader
	sed "s|BINDIR|$(BINDIR)|g;s|VERSION|$(VERSION)|g" debian/scripts/wine.in > debian/tmp/$(BINDIR)/wine$(VERSION)
	chmod +x debian/tmp/$(BINDIR)/wine$(VERSION)
#	make $(shell find . ! -path "./.pc/*" -name *\\.man\\.in | sed s/\\.in//)
#	for file in $$(find . ! -path "./debian/*" -name \*.man); do \
#	    rename=$$(basename $$file | sed "s/\\./$(VERSION)./;s/UTF-8\\.//"); \
#	    mv $$file debian/tmp/$$rename || true; \
#	    done
#	# files to exclude from the architecture-independent packages
	rm -f debian/tmp/usr/lib/*/wineserver
	rm -f debian/tmp/notepad*.man debian/tmp/winemine*.man
	# extract hicolor icon from logo.svg
	sed '/image\/png/d;s|width="611"|width="209"|' programs/winecfg/logo.svg > debian/tmp/wine$(VERSION).svg

override_dh_auto_install-arch: $(INSTALLS)
	mkdir -p debian/tmp
	cp ANNOUNCE.md debian/tmp/NEWS
	cp tools/winedump/README debian/tmp/README.winedump
	mv server/wineserver debian/tmp/wineserver$(DEB_HOST_ARCH_BITS)
	sed "s|BINDIR|$(BINDIR)|g" debian/scripts/winegcc.in > debian/tmp/winegcc$(VERSION)
	sed "s|BINDIR|$(BINDIR)|g;s|VERSION|$(VERSION)|g" debian/scripts/wineserver.in > debian/tmp/wineserver
	chmod 755 debian/tmp/wineserver
ifeq ($(DEB_HOST_ARCH), i386)
	echo >> debian/libwine$(VERSION).install
	echo "# 16-bit windows PE files" >> debian/libwine$(VERSION).install
	echo "debian/tmp/usr/lib/*/*/*/*.vxd" >> debian/libwine$(VERSION).install
	echo "debian/tmp/usr/lib/*/*/*/*.dll16" >> debian/libwine$(VERSION).install
	echo "debian/tmp/usr/lib/*/*/*/*.drv16" >> debian/libwine$(VERSION).install
	echo "debian/tmp/usr/lib/*/*/*/*.exe16" >> debian/libwine$(VERSION).install
	echo "debian/tmp/usr/lib/*/*/*/*.mod16" >> debian/libwine$(VERSION).install
endif
ifeq (,$(filter $(DEB_HOST_ARCH),i386 amd64))
	rm -f debian/libwine$(VERSION).prerm debian/libwine$(VERSION).postinst
endif
	dh_installdirs
	dh_auto_install
	for file in $$(find . ! -path "./debian/*" -name \*.man); do \
	    rename=$$(basename $$file | sed "s/\\./$(VERSION)./;s/UTF-8\\.//"); \
	    mv $$file debian/tmp/$$rename || true; \
	    done
	mkdir -p debian/tmp/$(BINDIR)
ifeq ($(DEB_HOST_ARCH_BITS), 64)
	# copy 64 bit wine-preloader
	test -f debian/tmp/$(BINDIR)/wine64-preloader && \
	    mv debian/tmp/$(BINDIR)/wine64-preloader debian/tmp/$(BINDIR)/wine64-preloader.static || \
	    cp debian/scripts/wine-preloader.static debian/tmp/$(BINDIR)/wine64-preloader.static
else
	# copy 32 bit wine-preloader
	test -f debian/tmp/$(BINDIR)/wine-preloader && \
	    mv debian/tmp/$(BINDIR)/wine-preloader debian/tmp/$(BINDIR)/wine-preloader.static || \
	    cp debian/scripts/wine-preloader.static debian/tmp/$(BINDIR)/wine-preloader.static
endif
	# files to exclude from the architecture-dependent packages
	rm -rf debian/tmp/usr/share/man
	rm -f debian/tmp/usr/lib/*/wineserver
	rm -f debian/tmp/usr/share/*/fonts/*.fon
	rm -f debian/tmp/usr/share/*/fonts/*.ttf
	rm -f debian/tmp/notepad*.man debian/tmp/winemine*.man

# do not try to strip archive files on arm, they currently cause dh_strip to fail
ifneq (,$(filter $(DEB_HOST_ARCH),armhf arm64))
override_dh_strip:
	dh_strip --exclude \.a
endif

override_dh_makeshlibs:
	# avoid unnecessary calls to ldconfig
	dh_makeshlibs --no-scripts -- -V

override_dh_shlibdeps:
	mkdir -p debian/tmp
	./debian/scripts/config2elf debian/tmp/elf.recommends
	./debian/scripts/config2elf debian/tmp/elf.depends "libfontconfig|libfreetype|libncurses"
	dpkg-shlibdeps --warnings=1 -v -pdlopen \
	    -dDepends -edebian/tmp/elf.depends \
	    -dRecommends -edebian/tmp/elf.recommends \
	    -Tdebian/libwine$(VERSION).substvars 2>/dev/null
	dh_shlibdeps -- -v -l/$(LIBDIR)/$(WINE_CPU)-unix

override_dh_bugfiles:
	dh_bugfiles -A

override_dh_missing:
	dh_missing -X elf.depends -X elf.recommends -X wine.desktop

override_dh_clean:
	dh_clean -- $(INSTALLS)

override_dh_auto_clean:
	QUILT_PATCHES=debian/patches quilt push -af || true
	autoreconf -fi
	dh_auto_clean
