#!/usr/bin/make -f

VERSION := -10.19

# add DEB_* variables to the environment
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/vendor.mk

DEBSUFFIX=$(VERSION)
export DEB_SOURCE = wine$(VERSION)
export DEB_BUILD_OPTIONS=parallel=$(shell nproc)

# Detect 32-bit vs 64-bit
ifeq ($(DEB_HOST_ARCH),i386)
    ARCHDEP_GCC_ARGS := -m32
else ifeq ($(DEB_HOST_ARCH),amd64)
    ARCHDEP_GCC_ARGS := -m32
endif

export ARCHDEP_GCC_ARGS
export DEBSUFFIX

# installation paths
BINDIR=/usr/lib/wine$(VERSION)
DATADIR=/usr/share/wine$(VERSION)
MANDIR=$(DATADIR)/man
INCLUDEDIR=/usr/include/wine$(VERSION)
PREFIX=/usr/lib/$(DEB_HOST_MULTIARCH)/wine$(VERSION)
LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)/lib/wine$(VERSION)

# enable verbose build log
export DH_VERBOSE=1

# specify buildflags (stack protector, fortify, and LTO are not yet supported upstream)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all,-fortify,-stackprotector optimize=-lto

# configure options
CONFLAGS=--with-gnutls \
         --without-oss \
         --without-sane \
         --without-netapi \
         --disable-tests \
         --prefix=$(PREFIX) \
         --includedir=$(INCLUDEDIR) \
         --datarootdir=$(DATADIR) \
         --mandir=/deleteme \
         LDFLAGS="" \
         CFLAGS="$(shell dpkg-buildflags --get CFLAGS)" \

# ignore -fstack-clash-protection on arm64
ifeq ($(DEB_HOST_ARCH), arm64)
export DEB_CFLAGS_MAINT_APPEND+=-Wno-unused-command-line-argument -Wno-error
endif

# ignore arm-specific unused functions
ifneq (,$(filter $(DEB_HOST_ARCH),armhf arm64))
export DEB_CFLAGS_MAINT_APPEND+=-Wno-unused-function
endif

# extra information to add to the version string
export VENDOR=$(DEB_VENDOR) $(DEB_VERSION)

# parse wine's cpu string from DEB_HOST_MULTIARCH
export WINE_CPU=$(shell echo $(DEB_HOST_MULTIARCH) | cut -d- -f1)

# use date of the latest changelog update as the build date
export WIDL_TIME_OVERRIDE=$(SOURCE_DATE_EPOCH)

# additional files to generate
INSTALLS=$(shell ls debian/*VERSION* | sed s/VERSION/$(VERSION)/) \
         debian/bug-control \

debian/control: debian/control.in
	sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g" < $< > $@
	echo >> $@

debian/wine$(VERSION)%: debian/wineVERSION%
	sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g;s/DEB_HOST_MULTIARCH/$(DEB_HOST_MULTIARCH)/g;" < $< > $@

debian/wine$(VERSION)-common%: debian/wineVERSION-common%
	sed "s/VERSION/$(VERSION)/g;s/DEBSUFFIX/$(DEBSUFFIX)/g;s/DEB_HOST_MULTIARCH/$(DEB_HOST_MULTIARCH)/g;" < $< > $@

debian/libwine$(VERSION)%: debian/libwineVERSION%
	sed "s/VERSION/$(VERSION)/g;s/DEB_HOST_MULTIARCH/$(DEB_HOST_MULTIARCH)/g;s/WINE_CPU/$(WINE_CPU)/g" < $< > $@

debian/bug-control: debian/bug-control.in
	sed s/VERSION/$(VERSION)/g < $< > $@

%:
	dh $@

override_dh_auto_configure:
	# cc version
	$(CC) --version
	# mingw version
	$(DEB_HOST_GNU_CPU)-w64-mingw32-gcc --version || echo ""
	# autotools files
	ln -sf /usr/share/misc/config.sub tools
	ln -sf /usr/share/misc/config.guess tools
	# image files used to generate icons for parts of wine
	# execute wine's configure script
	autoreconf -fi
	./configure $(CONFLAGS)

override_dh_auto_build:
	# build wine's headers upfront to avoid incompatible mingw versions
	make -C include
	make -C tools/sfnt2fon
	make -C fonts
	dh_auto_build
	# copy over zlib1.dll
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/wine$(VERSION)/lib/wine/i386-windows/
	cp /usr/i686-w64-mingw32/lib/zlib*.dll   debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/wine$(VERSION)/lib/wine/i386-windows/
ifeq ($(DEB_HOST_ARCH),amd64)
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/wine$(VERSION)/lib/wine/x86_64-windows/
	cp /usr/x86_64-w64-mingw32/lib/zlib*.dll debian/tmp//usr/lib/$(DEB_HOST_MULTIARCH)/wine$(VERSION)/lib/wine/x86_64-windows/
endif

override_dh_auto_test:
	# disabled, there are currently too many failing tests

override_dh_install-indep:
	dh_install
	# create font symlinks
	( cd fonts ; \
          for f in *.ttf; do \
            ln -s ../../../wine$(DEBSUFFIX)/wine/fonts/$$f ../debian/fonts-wine/usr/share/fonts/truetype/wine/$$f; \
          done )

override_dh_auto_install-indep: $(INSTALLS)
	mkdir -p debian/tmp
	cp ANNOUNCE.md debian/tmp/NEWS
	cp programs/winedbg/README debian/tmp/README.winedbg
	make $(shell find . ! -path "./.pc/*" -name *\\.man\\.in | sed s/\\.in//)
	for file in $$(find . ! -path "./debian/*" -name \*.man); do \
           rename=$$(basename $$file | sed "s/\\./$(DEBSUFFIX)./;s/UTF-8\\.//"); \
           mv $$file debian/tmp/$$rename || true; \
           done
	rm -Rf debian/tmp/deleteme
	mkdir -p debian/tmp/$(BINDIR)
	# extract hicolor icon from logo.svg
	sed '/image\/png/d;s|width="611"|width="209"|' programs/winecfg/logo.svg > debian/tmp/wine$(DEBSUFFIX).svg

override_dh_auto_install-arch: $(INSTALLS)
	mkdir -p debian/tmp
	cp ANNOUNCE.md debian/tmp/NEWS
	cp tools/winedump/README debian/tmp/README.winedump
ifeq (,$(filter $(DEB_HOST_ARCH),i386 amd64))
	rm -f debian/libwine$(VERSION).prerm debian/libwine$(VERSION).postinst
endif
	dh_installdirs
	dh_auto_install
	mkdir -p debian/tmp/$(BINDIR)

# do not try to strip archive files on arm, they currently cause dh_strip to fail
ifneq (,$(filter $(DEB_HOST_ARCH),armhf arm64))
override_dh_strip:
	dh_strip --exclude \.a
endif

override_dh_makeshlibs:
	# avoid unnecessary calls to ldconfig
	dh_makeshlibs --no-scripts -- -V

override_dh_shlibdeps:
	mkdir -p debian/tmp
	./debian/scripts/config2elf debian/tmp/elf.recommends
	./debian/scripts/config2elf debian/tmp/elf.depends "libfontconfig|libfreetype|libncurses"
	dpkg-shlibdeps --warnings=1 -v -pdlopen \
	    -dDepends -edebian/tmp/elf.depends \
	    -dRecommends -edebian/tmp/elf.recommends \
	    -Tdebian/libwine$(VERSION).substvars 2>/dev/null
	dh_shlibdeps -- -v -l$(LIBDIR)/$(WINE_CPU)-unix

override_dh_bugfiles:
	dh_bugfiles -A

override_dh_missing:
	dh_missing -X elf.depends -X elf.recommends -X wine.desktop
