actxprxy_activscp.h
actxprxy_comcat.h
actxprxy_docobj.h
actxprxy_hlink.h
actxprxy_htiface.h
actxprxy_htiframe.h
actxprxy_objsafe.h
actxprxy_ocmm.h
actxprxy_servprov.h
actxprxy_shldisp.h
actxprxy_shobjidl.h
actxprxy_urlhist.h
dlldata.c

x86_64-windows/actxprxy_activscp_p.c
x86_64-windows/actxprxy_comcat_p.c
x86_64-windows/actxprxy_docobj_p.c
x86_64-windows/actxprxy_hlink_p.c
x86_64-windows/actxprxy_htiface_p.c
x86_64-windows/actxprxy_htiframe_p.c
x86_64-windows/actxprxy_objsafe_p.c
x86_64-windows/actxprxy_ocmm_p.c
x86_64-windows/actxprxy_servprov_p.c
x86_64-windows/actxprxy_shldisp_p.c
x86_64-windows/actxprxy_shobjidl_p.c
x86_64-windows/actxprxy_urlhist_p.c
