activation.h
activaut.h
activdbg.h
activscp.h
amsi.h
amstream.h
amvideo.h
asptlb.h
asyncinfo.h
atliface.h
audioclient.h
audiopolicy.h
austream.h
bdaiface.h
bits.h
bits1_5.h
bits2_0.h
bits2_5.h
bits3_0.h
bits5_0.h
cdosys.h
cmnquery.h
comcat.h
commoncontrols.h
comsvcs.h
config.h.in
control.h
cor.h
cordebug.h
corsym.h
ctfutb.h
ctxtcall.h
d2d1.h
d2d1_1.h
d2d1_2.h
d2d1_3.h
d2d1effectauthor.h
d2d1effects.h
d2d1effects_1.h
d2d1effects_2.h
d3d10.h
d3d10_1.h
d3d10effect.h
d3d10sdklayers.h
d3d10shader.h
d3d11.h
d3d11_1.h
d3d11_2.h
d3d11_3.h
d3d11_4.h
d3d11on12.h
d3d11sdklayers.h
d3d12.h
d3d12sdklayers.h
d3d12shader.h
d3d12video.h
d3d9on12.h
d3dcommon.h
d3dx11core.h
dcommon.h
dcomp.h
dcompanimation.h
dcomptypes.h
ddstream.h
devicetopology.h
dhtmled.h
dimm.h
directmanipulation.h
dispatcherqueue.h
dispex.h
dmodshow.h
docobj.h
docobjectservice.h
documenttarget.h
downloadmgr.h
dragdropinterop.h
drmexternals.h
dvdif.h
dwrite.h
dwrite_1.h
dwrite_2.h
dwrite_3.h
dxgi.h
dxgi1_2.h
dxgi1_3.h
dxgi1_4.h
dxgi1_5.h
dxgi1_6.h
dxgicommon.h
dxgidebug.h
dxgiformat.h
dxgitype.h
dxva2api.h
dxvahd.h
endpointvolume.h
eventtoken.h
evr.h
evr9.h
exdisp.h
filter.h
fusion.h
gameinput.h
gameux.h
hlink.h
holographicspaceinterop.h
hrtfapoapi.h
hstring.h
htiface.h
htiframe.h
httprequest.h
iads.h
icftypes.h
icodecapi.h
ieautomation.h
iextag.h
iimgctx.h
imnact.h
imnxport.h
indexsrv.h
inputpaneinterop.h
inputscope.h
inseng.h
inspectable.h
ivectorchangedeventargs.h
mediaobj.h
medparam.h
metahost.h
mfd3d12.h
mfidl.h
mfmediaengine.h
mfobjects.h
mfplay.h
mfreadwrite.h
mftransform.h
mimeinfo.h
mimeole.h
mlang.h
mmc.h
mmdeviceapi.h
mmstream.h
mpeg2data.h
mpeg2structs.h
mpegtype.h
msado15_backcompat.h
mscoree.h
msctf.h
msdadc.h
msdasc.h
mshtmhst.h
mshtml.h
msident.h
msinkaut.h
msopc.h
mstask.h
msxml.h
msxml2.h
msxml6.h
natupnp.h
netcfgx.h
netcon.h
netfw.h
netlistmgr.h
oaidl.h
objectarray.h
objidl.h
objidlbase.h
objsafe.h
ocidl.h
ocmm.h
oleacc.h
oledb.h
oleidl.h
optary.h
perhist.h
proofofpossessioncookieinfo.h
propidl.h
propsys.h
pstore.h
qedit.h
relogger.h
restrictederrorinfo.h
richole.h
rmxftmpl.h
robuffer.h
rometadataapi.h
roparameterizediid.h
rtworkq.h
sapi.h
sapiddk.h
sensevts.h
servprov.h
shdeprecated.h
shimgdata.h
shldisp.h
shobjidl.h
shobjidl_core.h
shtypes.h
spatialaudioclient.h
strmif.h
structuredquerycondition.h
systemmediatransportcontrolsinterop.h
taskschd.h
textstor.h
thumbcache.h
tlogstg.h
tom.h
transact.h
txcoord.h
txdtc.h
uianimation.h
uiautomationclient.h
uiautomationcore.h
uiribbon.h
uiviewsettingsinterop.h
unknwn.h
urlhist.h
urlmon.h
videoacc.h
vmr9.h
vsbackup.h
vss.h
vswriter.h
wbemcli.h
wbemdisp.h
wbemprov.h
weakreference.h
wia_lh.h
wia_xp.h
wincodec.h
wincodecsdk.h
windows.applicationmodel.activation.h
windows.applicationmodel.background.h
windows.applicationmodel.core.h
windows.applicationmodel.datatransfer.dragdrop.core.h
windows.applicationmodel.datatransfer.dragdrop.h
windows.applicationmodel.datatransfer.h
windows.applicationmodel.h
windows.applicationmodel.winmd
windows.data.json.h
windows.data.xml.dom.h
windows.devices.bluetooth.advertisement.h
windows.devices.bluetooth.genericattributeprofile.h
windows.devices.bluetooth.h
windows.devices.bluetooth.rfcomm.h
windows.devices.enumeration.h
windows.devices.geolocation.h
windows.devices.haptics.h
windows.devices.input.h
windows.devices.power.h
windows.devices.radios.h
windows.devices.usb.h
windows.foundation.collections.h
windows.foundation.h
windows.foundation.metadata.h
windows.foundation.numerics.h
windows.gaming.input.custom.h
windows.gaming.input.forcefeedback.h
windows.gaming.input.h
windows.gaming.ui.h
windows.globalization.h
windows.globalization.winmd
windows.graphics.capture.h
windows.graphics.capture.interop.h
windows.graphics.directx.direct3d11.h
windows.graphics.directx.h
windows.graphics.effects.h
windows.graphics.h
windows.graphics.holographic.h
windows.graphics.imaging.h
windows.graphics.winmd
windows.management.deployment.h
windows.media.capture.h
windows.media.closedcaptioning.h
windows.media.core.h
windows.media.devices.h
windows.media.effects.h
windows.media.faceanalysis.h
windows.media.h
windows.media.mediaproperties.h
windows.media.playback.h
windows.media.render.h
windows.media.speechrecognition.h
windows.media.speechsynthesis.h
windows.media.transcoding.h
windows.media.winmd
windows.networking.connectivity.h
windows.networking.h
windows.networking.sockets.h
windows.networking.winmd
windows.perception.h
windows.perception.spatial.h
windows.perception.spatial.surfaces.h
windows.perception.winmd
windows.security.authentication.onlineid.h
windows.security.authorization.appcapabilityaccess.h
windows.security.credentials.h
windows.security.credentials.ui.h
windows.security.cryptography.core.h
windows.security.cryptography.h
windows.security.enterprisedata.h
windows.security.exchangeactivesyncprovisioning.h
windows.security.isolation.h
windows.storage.fileproperties.h
windows.storage.h
windows.storage.search.h
windows.storage.streams.h
windows.storage.winmd
windows.system.h
windows.system.power.h
windows.system.profile.h
windows.system.profile.systemmanufacturers.h
windows.system.threading.h
windows.system.userprofile.h
windows.system.winmd
windows.ui.composition.h
windows.ui.composition.interop.h
windows.ui.core.h
windows.ui.h
windows.ui.input.h
windows.ui.notifications.h
windows.ui.viewmanagement.core.h
windows.ui.viewmanagement.h
windows.ui.windowmanagement.h
windows.ui.winmd
windows.ui.xaml.h
windows.ui.xaml.hosting.desktopwindowxamlsource.h
windows.ui.xaml.interop.h
windows.ui.xaml.winmd
windowscontracts.h
wine/fil_data.h
wine/iaccessible2.h
wine/itss.h
wine/mfinternal.h
wine/orpc.h
wine/plugplay.h
wine/svcctl.h
wine/winedxgi.h
winsxs.h
wmcodecdsp.h
wmdrmsdk.h
wmiutils.h
wmp.h
wmprealestate.h
wmpservices.h
wmsbuffer.h
wmsdkidl.h
wmsecure.h
wpcapi.h
wsdbase.h
wsddisco.h
wsdxml.h
wtypes.h
wuapi.h
xamlom.h
xapo.h
xaudio2.h
xaudio2fx.h
xmllite.h
xpsobjectmodel.h
xpsobjectmodel_1.h
